
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"cottom";
    src: url(Cotton\ Butter.ttf);
}


body{
    background-color:#E5CEF6 ;
    border: 3px rgb(63, 32, 63) solid;
}

h1{
    font-family: "cottom";
    text-align: center;
    color: rgb(63, 32, 63);
}

.bg{
    background: url(./pexels-william-jesús-casique-toro-2744616.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 20%;
    border-right: 3px rgb(63, 32, 63)solid;
}

.bg>div{
    width: 80%;
    height: 30%;
    margin: 10px auto;

}

.pink{
    background-color: pink;
    box-shadow: 5px 5px 5px 5px rgb(241, 81, 107);
   
}

.purple{
    background-color: lightblue;
    box-shadow: 5px 5px 5px 5px rgb(47, 193, 241);
}

.white{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(114, 114, 114);
}

.menu{
   display: flex;
   justify-content: flex-end;
   position: absolute;
   width: 100%;
   bottom: 5px;
  left: 0;

   
}
.menu>*{
margin:10px
}

.menu:hover{
    cursor: pointer;

}

.postit{

   padding: 10px;
   word-break: break-all;
   overflow: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


.fas {
   
    color: black;
}

.fas:hover{
    color: red;
}

.mariapia{}